#wrap{width: 554px; height: 311px; background: url(../images/bg.png) no-repeat; position: relative;}
.a{position: absolute; top: 160px; width: 60px; height: 30; border: 1px solid #666666; font:13px/30px "微软雅黑"; color:black; text-decoration: none; text-align: center;}
.a1{left: 180px;}
.a2{left: 250px;}
.a3{left: 320px;}
.checked{border:1px solid #e15670; background: #ffffff url(../images/newicon20140910.png) no-repeat right bottom;}
