div{padding: 0;margin:0px;border:none;}
body{background:#d3f1d5; }
#wrap{position: relative; left: 320px; top:5px;  width: 590px; height: 610px;}
.div_img{width: 50px; height: 50px;background:#62855f; margin-right:10px; margin-top:10px;}